.time-header {
    display: grid;
    grid-template-columns: 2rem auto auto repeat(5, var(--time-input-column-width)) var(--time-right-column-width);
    gap: 1rem;
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
    align-items: center;
}

.time-header .arrow {
    text-decoration: none;
    color: black;
}

.time-header .older {
    justify-self: end;
}

.time-header .newer {
    justify-self: start;
}