:root {
    --time-client-favorite-width: 2rem;
    --time-project-favorite-width: 2rem;
    --time-label-column-width: auto;
    --time-comment-column-width: 20rem;
    --time-input-column-width: 8rem;
}

.time-header {
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
}

.time-header .arrow {
    text-decoration: none;
    color: black;
}

.time-header .older {
    justify-self: end;
}

.time-header .newer {
    justify-self: start;
}

details.hidden {
    display: none;
}

details ::marker {
    content: "";
}

details .favorite-icon {
    color: #000;
    opacity: 0.3;
    background: none;
    border: none;
    font-size: 1em;
    padding: 0;
    cursor: pointer;
}

details summary[data-is-favorite~=true] > .favorite-icon,
details li[data-is-favorite~=true] > .favorite-icon {
    color: #efdd00;
    opacity: 1;
}

details summary {
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid black;
    border-bottom: none;
    display: grid;
    grid-template-columns: var(--time-client-favorite-width) var(--time-project-favorite-width) var(--time-label-column-width) var(--time-comment-column-width) var(--time-input-column-width);
    gap: 1rem;
    align-items: center;
    user-select: none;
}

details summary > .client-name {
    grid-column: 2 / 5;
}

details summary .time-entry-header {
    text-align: center;
}

details:nth-child(even) summary {
    background-color: rgba(0, 0, 0, 0.10);
}

details summary + * {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    margin: 0;
}

details .accordion-toggle {
    border: none;
    background: none;
    pointer-events: none;
    cursor: pointer;
}

details :where(ul,li) {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

details li {
    display: grid;
    grid-template-columns: var(--time-client-favorite-width) var(--time-project-favorite-width) var(--time-label-column-width) var(--time-comment-column-width) var(--time-input-column-width);
    gap: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    align-items: center;
}

details li:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
}

details li button {
    grid-column: 2;
}

details li span {
    user-select: none;
}

details li:first-child {
    border-top-color: black;
}

details li:last-child {
    border-bottom: none;
}

details li input[type=number] {
    max-width: 4em;
    padding: 0.3rem;
    margin-inline: auto;
    font-size: 1.6rem;
}

details input.comment {
    width: 20rem;
}