{% extends 'logged-in-base.html.twig' %}

{% block title %}Time{% endblock %}

{% block main %}
    {% for client in clients %}
        <details>
            <summary>{{ client.name }}</summary>
            <ul>
                {% for project in client.projects %}
                    <li>{{ project.name }}</li>
                {% endfor %}
            </ul>
        </details>
    {% endfor %}
{% endblock %}
