{% extends 'base.html.twig' %}

{% block body %}
    {% block nav %}
        <ul>
            <li><a href="#">Time Reporting</a></li>
            <li><a href="#">Week Managements</a></li>
        </ul>
    {% endblock %}
    {% block main %}
    {% endblock %}
{% endblock %}