{% extends 'base.html.twig' %}

{% block body %}
    {% block nav %}
        <ul>
            <li><a href="#">Time Reporting</a></li>
            <li><a href="#">Week Managements</a></li>
            <li>
                <strong>Admin</strong>
                <ul>
                    <li><a href="{{ path('admin_project_categories_list') }}">Project Category List</a></li>
                    <li><a href="{{ path('admin_project_category_grid') }}">Project Grid</a></li>
                </ul>
            </li>
        </ul>
    {% endblock %}
    {% block main %}
    {% endblock %}
{% endblock %}